<script>
  export let height = 16;
  export let width = 16;
</script>

<svg
  xmlns="http://www.w3.org/2000/svg"
  {height}
  {width}
  viewBox="0 0 24 24"
  fill="none"
  stroke="currentColor"
  stroke-width="2"
  stroke-linecap="round"
  stroke-linejoin="round"
  class="feather feather-tv">
  <rect x="2" y="7" width="20" height="15" rx="2" ry="2" />
  <polyline points="17 2 12 7 7 2" />
</svg>
