<script>
  import { onMount } from "svelte";
  import { view } from "./Stores.js";
  import Background from "./Background.svelte";
  import Footer from "./Footer.svelte";
  import Header from "./Header.svelte";
  import Nav from "./Nav.svelte";

  onMount(async () => {
    view.updateView();
  });
</script>

<style>
  :global(body) {
    background: #3d455e;
    display: flex;
    flex-direction: column;
    font-family: "Noto Sans JP", "Hiragino Sans", "Yu Gothic Medium", sans-serif;
    height: 98vh;
    margin: 8px 0;
  }
  main {
    flex: 1;
  }
  footer {
    flex-shrink: 0;
  }
</style>

<svelte:window on:hashchange={view.updateView} />
<Background />
<header>
  <Header />
  <Nav />
</header>
<main>
  <svelte:component this={$view} />
</main>
<footer>
  <Footer />
</footer>
