<script>
  import { onMount } from "svelte";
  import { Tween, Easing } from "es6-tween";
  import {
    BackSide,
    Math as ThreeMath,
    Mesh,
    MeshBasicMaterial,
    Object3D,
    PerspectiveCamera,
    ShaderMaterial,
    SphereBufferGeometry,
    Scene,
    TextureLoader,
    WebGLRenderer
  } from "three";

  let canvas;
  onMount(() => {
    const rotStep = 0.001;
    const spRadius = 4.5;

    const scene = new Scene();
    const camera = new PerspectiveCamera(
      75,
      canvas.clientWidth / canvas.clientHeight,
      0.1,
      1000
    );

    const loader = new TextureLoader();
    const renderer = new WebGLRenderer({ alpha: true, canvas: canvas });
    renderer.setSize(canvas.clientWidth, canvas.clientHeight, false);

    const sphereBaseGeometry = new SphereBufferGeometry(spRadius, 32, 32);
    const sphereAtmosGeometry = new SphereBufferGeometry(
      spRadius + 0.01,
      32,
      32
    );
    const sphereBaseUniforms = {
      t1: { value: loader.load("./assets/sh_shpere.png") },
      t2: { value: loader.load("./assets/sh_shpere2.png") },
      tb: { value: loader.load("./assets/sh_shpereb.png") },
      time: { value: 1.2 }
    };
    const sphereBaseVertexShader = `
      varying vec2 vUv;

      void main() {
        vUv = uv;
        vec4 mvPosition = modelViewMatrix * vec4( position, 1.0 );
        gl_Position = projectionMatrix * mvPosition;
      }
    `;
    const sphereBaseFragmentShader = `
      #ifdef GL_ES
      precision highp float;
      #endif
      
      uniform sampler2D t1;
      uniform sampler2D t2;
      uniform sampler2D tb;
      uniform float time;
      
      varying vec2 vUv;
      
      void main(void)
      {
          vec3 c;
          vec4 C1 = texture2D(t1, vUv);
          vec4 C2 = texture2D(t2, vUv);
          // Not sure what type of blending to use on base
          vec4 Cb = texture2D(tb, vUv);
          C1.a = time;
          c = C1.rgb * C1.a + C2.rgb * C2.a * (1.0 - C1.a);
          gl_FragColor= vec4(c, 1.0);
      }
    `;
    const sphereBaseMaterial = new ShaderMaterial({
      uniforms: sphereBaseUniforms,
      vertexShader: sphereBaseVertexShader,
      fragmentShader: sphereBaseFragmentShader
    });
    const sphereAtmosMaterial = new MeshBasicMaterial({
      map: loader.load("./assets/sh_atmos.png"),
      opacity: 0.7,
      transparent: true
    });
    const sphereBase = new Mesh(sphereBaseGeometry, sphereBaseMaterial);
    const sphereAtmos = new Mesh(sphereAtmosGeometry, sphereAtmosMaterial);
    const sphere = new Object3D();
    sphere.add(sphereAtmos);
    sphere.add(sphereBase);
    sphere.position.set(0, -5.5, -5);
    scene.add(sphere);

    const wallGeometry = new SphereBufferGeometry(16, 32, 32);
    const wallTexture = new TextureLoader().load("./assets/sh_wall.png");
    const wallMaterial = new MeshBasicMaterial({
      map: wallTexture,
      side: BackSide
    });
    const wall = new Mesh(wallGeometry, wallMaterial);
    scene.add(wall);

    camera.position.y = 8;
    camera.position.z = 3;
    camera.rotation.x = ThreeMath.degToRad(315);

    const cameraMove = new Tween(camera.position)
      .to({ x: 0, y: 4.5, z: 3 }, 5000)
      .delay(1000)
      .easing(Easing.Quadratic.InOut)
      .repeat(Infinity)
      .yoyo(true);
    const cameraRotate = new Tween(camera.rotation)
      .to({ x: ThreeMath.degToRad(330), y: 0, z: 0 }, 5000)
      .delay(1000)
      .easing(Easing.Quadratic.InOut)
      .repeat(Infinity)
      .yoyo(true);
    const sphereColorChange = new Tween(sphereBaseUniforms.time)
      .to({ value: -0.2 }, 3000)
      .delay(3000)
      .easing(Easing.Cubic.InOut)
      .repeat(Infinity)
      .yoyo(true);
    cameraMove.start();
    cameraRotate.start();
    sphereColorChange.start();

    function animate(time) {
      window.requestAnimationFrame(animate);
      sphere.rotation.y -= rotStep;
      wall.rotation.y -= rotStep;
      cameraMove.update(time);
      cameraRotate.update(time);
      sphereColorChange.update(time);

      render();
    }

    function render() {
      const width = canvas.clientWidth;
      const height = canvas.clientHeight;
      const needResize = canvas.width !== width || canvas.height !== height;
      if (needResize) {
        renderer.setSize(width, height, false);
        camera.aspect = width / height;
        camera.updateProjectionMatrix();
      }
      renderer.render(scene, camera);
    }

    window.requestAnimationFrame(animate);

    return () => {
      window.cancelAnimationFrame(animate);
    };
  });
</script>

<style>
  canvas {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
</style>

<canvas bind:this={canvas} />
