<script>
  import { fade } from "svelte/transition";
  import Header from "./Header.svelte";
  import Icons from "./Icons.svelte";

  const linksHeaderColor = [255, 208, 156];
  const links = [
    {
      title: "play suguri",
      link: "http://store.steampowered.com/app/390710/Acceleration_of_SUGURI_2",
      icon: "Hash"
    },
    {
      title: "discord",
      link: "https://discordapp.com/invite/TKYtfuP",
      icon: "MessageSquare"
    },
    {
      title: "suguri TV",
      link: "https://twitch.tv/suguri_tv",
      icon: "TV"
    },
    {
      title: "twitter",
      link: "https://twitter.com/Suguri_TV",
      icon: "Twitter"
    },
    {
      title: "youtube",
      link: "https://www.youtube.com/channel/UCUtGvCOfnhPMtCHxRYRcslQ",
      icon: "Youtube"
    },
    {
      title: "&#x1f4a1; lite version",
      link: "lite.html",
      icon: false
    },
    {
      title: "repo",
      link: "https://gitlab.com/aos2",
      icon: "Gitlab"
    }
  ];
</script>

<style>
  a {
    text-decoration: none;
  }
  div {
    align-items: center;
    background: rgba(18, 18, 22, 0.7);
    border: solid black;
    border-width: 1px 0 1px;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    margin-bottom: 2em;
    padding: 0.8em 0 0.9em 0;
    justify-content: center;
    width: 100%;
  }
  div:hover {
    background: rgba(211, 211, 211, 0.7);
  }
  div:hover > h3 {
    color: white;
  }
  h3 {
    color: rgb(147, 147, 147);
    font-family: "Nationalyze", "Nationalyze ALP", "Orbitron", sans-serif;
    font-size: 42pt;
    font-style: italic;
    font-weight: 900;
    margin: 0;
    text-shadow: 1.5px 1.5px 1px black, 1.5px -1.5px 1px black,
      -1.5px 1.5px 1px black, -1.5px -1.5px 1px black;
  }
  :global(svg) {
    vertical-align: middle;
  }
</style>

<section>
  <Header
    barLength="175px"
    mainHeading={false}
    margin="1em 0 calc(1em + 10px)"
    rgb={linksHeaderColor}
    title="Select link" />
  {#each links as link}
    <a href={link.link}>
      <div in:fade={{ duration: 200 }}>
        <h3>
          {#if link.icon}
            <Icons icon={link.icon} height="48" width="48" />
          {/if}
          {@html link.title}
        </h3>
      </div>
    </a>
  {/each}
</section>
