<script>
  import { onMount } from "svelte";
  import { fade } from "svelte/transition";
  import { completed, filter, matches, matchesStatuses } from "./Stores.js";
  import { calibrateDate, fetch } from "./Utils.js";
  import Header from "./Header.svelte";
  import { format } from "date-fns";
  import gql from "nanographql";
  const eventHeaderColor = [255, 237, 151];
  const query = gql`
    {
      completed {
        id
        event
        event_date
        link_signup
        link_bracket
      }
    }
  `;
  const matchesSubquery = gql`
    query($id: ID!) {
      event(id: $id) {
        matches {
          match_date
          p1_name
          p1_char
          p2_name
          p2_char
          p2_win
          event
          round
          timestamp
          version
        }
        meta {
          dates
        }
      }
    }
  `;

  onMount(async () => {
    if (!$completed.length) {
      const resp = await fetch(query);
      completed.set(resp.completed);
    }
  });

  async function seeEventMatches(id) {
    const resp = await fetch(() => matchesSubquery({ id }));
    let dates = resp.event.meta.dates;
    let eventMatches = resp.event.matches;
    window.location.hash = "#matches";
    eventMatches.length
      ? matches.set(eventMatches)
      : matches.set(matchesStatuses.inProgress);
    dates = dates.map(date => format(calibrateDate(date), "yyyy-MM-dd"));
    filter.reset();
    $filter.after_date = dates[0];
    $filter.before_date = dates[dates.length - 1];
    $filter.order = "asc";
  }
</script>

<style>
  a {
    color: black;
  }
  a:hover {
    color: white;
    text-shadow: 1px 1px 2px black, -0.7px 0 0 black, 0 0.7px 0 black,
      0.7px 0 0 black, 0 -0.7px 0 black;
  }
  table {
    border-collapse: separate;
    border-spacing: 0 10px;
    font-family: "Impact", "Anton", sans-serif;
    font-size: 2vw;
    font-style: italic;
    width: 100%;
  }
  td:first-child {
    padding-left: calc(10vw - 120px);
  }
  td:last-child {
    padding-right: calc(10vw - 120px);
  }
  td {
    border: solid black;
    border-width: 1.25px 0 1.25px;
    padding: 0;
    text-align: center;
    white-space: nowrap;
  }
  tr {
    background: rgba(150, 150, 150, 0.5);
    cursor: pointer;
  }
  tr:hover {
    background: rgba(211, 211, 211, 0.9);
  }
  @media screen and (min-width: 1200px) {
    table {
      font-size: 18pt;
    }
  }
</style>

<Header
  barLength="205px"
  mainHeading={false}
  rgb={eventHeaderColor}
  title="Completed events" />
<table>
  <tbody>
    {#each $completed as event}
      <tr
        title="get matches from {event.event}"
        in:fade={{ duration: 200 }}
        on:click={() => seeEventMatches(event.id)}>
        <td>{format(new Date(Number(event.event_date)), 'yyyy-MM-dd')}</td>
        <td>{event.event}</td>
        <td>
          <a
            href={event.link_signup}
            title=""
            on:click|stopPropagation={() => {}}>
            View
          </a>
        </td>
        {#if event.link_bracket}
          <td>
            <a
              href={event.link_bracket}
              title=""
              on:click|stopPropagation={() => {}}>
              Bracket
            </a>
          </td>
        {:else}
          <td />
        {/if}
      </tr>
    {/each}
  </tbody>
</table>
