<script>
  import { onMount } from "svelte";
  import { fade } from "svelte/transition";
  import { strip } from "./Utils.js";
  export let date;
  export let hovering = false;
  let inProgress = false;
  let timeUntil;

  function countdown(end) {
    const [day, hour, minute] = [86400, 3600, 60];

    return () => {
      const now = Date.now();
      let days, hours, minutes, seconds;

      seconds = parseInt((end - now) / 1000);
      if (seconds <= 0) {
        inProgress = true;
        seconds = Math.abs(seconds);
      }
      days = parseInt(seconds / day);
      seconds %= day;
      hours = parseInt(seconds / hour);
      seconds %= hour;
      minutes = parseInt(seconds / minute);
      seconds %= minute;
      timeUntil = toString({ days, hours, minutes, seconds }, inProgress);
    };
  }

  function toString(time, inProgress) {
    const units = Object.keys(time);
    let unitsToShow = 2;
    let str = "";
    for (let unit of units) {
      const value = time[unit];
      if (!value) continue;
      unit = value === 1 ? strip(unit, "s") : unit;
      str += value + " " + unit + " and ";
      unitsToShow--;
      if (!unitsToShow) break;
    }
    const prefix = inProgress ? "In progress for " : "Begins in ";
    return prefix + strip(str, " and ") + ".";
  }

  onMount(() => {
    const timer = setInterval(countdown(date), 1000);
    date = new Date(date).toString();
    timeUntil = date;
    return () => clearInterval(timer);
  });
</script>

<style>
  a {
    color: rgb(255, 237, 151);
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
</style>

{#if hovering}
  <span in:fade={{ duration: 150 }}>{date}</span>
{:else}
  <span in:fade={{ duration: 150 }}>{timeUntil}</span>
{/if}
{#if inProgress}
  <slot>
    <span>
      Watch live on
      <a href="https://twitch.tv/suguri_tv">Twitch</a>
      or
      <a href="https://www.youtube.com/user/FruitbatFactory/live">Youtube</a>
      !
    </span>
  </slot>
{/if}
