<script>
  import { onMount, tick } from "svelte";
  import { filter, matches, meta } from "./Stores.js";
  import { calibrateDate, fetch } from "./Utils.js";
  import { format } from "date-fns";
  import gql from "nanographql";

  const characters = [
    "Alte",
    "Hime",
    "Iru",
    "Kae",
    "Kyoko",
    "Mira",
    "Nanako",
    "Nath",
    "Saki",
    "Sham",
    "Sora",
    "Star Breaker",
    "Suguri",
    "Sumika",
    "Tsih"
  ];

  const matchesQuery = gql`
    query(
      $char1: String
      $char2: String
      $name1: String
      $name2: String
      $slot1_win: Boolean
      $after_date: String
      $before_date: String
      $version: String
      $order: String
      $limit: String
      $offset: Int
    ) {
      matches(
        char1: $char1
        char2: $char2
        name1: $name1
        name2: $name2
        slot1_win: $slot1_win
        after_date: $after_date
        before_date: $before_date
        version: $version
        order: $order
        limit: $limit
        offset: $offset
      ) {
        match_date
        p1_name
        p1_char
        p2_name
        p2_char
        p2_win
        event
        round
        timestamp
        version
      }
    }
  `;

  onMount(async () => {
    if (!$meta.cached) {
      const query = gql`
        {
          meta {
            dates
            names
            versions
          }
        }
      `;
      const resp = (await fetch(query)).meta;
      resp.dates = resp.dates.map(date =>
        format(calibrateDate(date), "yyyy-MM-dd")
      );
      resp.cached = true;
      meta.set(resp);
    }
    initFilter();
  });

  function initFilter() {
    if ($filter.after_date === "" || $filter.before_date === "") {
      $filter.after_date = $meta.dates[0];
      $filter.before_date = $meta.dates[$meta.dates.length - 1];
    }
  }

  function getQueryFilter() {
    /* DOM values are strings, delete keys with empty strings */
    const queryFilter = Object.assign({}, $filter);
    Object.keys(queryFilter).forEach(
      key => queryFilter[key] === "" && delete queryFilter[key]
    );
    return queryFilter;
  }

  async function resetFilter() {
    filter.reset();
    initFilter();
    const queryFilter = getQueryFilter();
    queryFilter.limit = "10";
    const resp = await fetch(() => matchesQuery({ ...queryFilter }));
    matches.set(resp.matches);
  }

  async function userChangedFilter() {
    await tick();
    if ($filter.after_date === "") $filter.after_date = $meta.dates[0];
    if ($filter.before_date === "") $filter.before_date = $meta.dates[1];
    const queryFilter = getQueryFilter();
    queryFilter.limit = "ALL";
    /* Convert from string to bool */
    if (queryFilter.slot1_win) {
      queryFilter.slot1_win = queryFilter.slot1_win === "true";
    }
    /* Easy fix for mirror matches */
    if (
      queryFilter.char1 === queryFilter.char2 &&
      !queryFilter.name1 &&
      !queryFilter.name2 &&
      !queryFilter.slot1_win
    ) {
      queryFilter.slot1_win = true;
    }
    const resp = await fetch(() => matchesQuery({ ...queryFilter }));
    resp.matches.length ? matches.set(resp.matches) : matches.set(null);
  }
</script>

<style>
  form {
    margin-bottom: 1em;
    text-align: center;
  }
  button,
  input,
  select {
    font-family: "Helvetica", "Arial", "Arimo", sans-serif;
    font-size: 2.5vw;
  }
  button:hover,
  input:hover,
  select:hover {
    outline: solid rgb(151, 203, 255);
  }
  @media screen and (min-width: 640px) {
    button,
    input,
    select {
      font-size: 12pt;
    }
  }
</style>

<form on:change={userChangedFilter} name="filter">
  <select title="filter first player" bind:value={$filter.name1}>
    <option value="">Player 1</option>
    {#each $meta.names as name}
      <option value={name}>{name}</option>
    {/each}
  </select>
  <select title="filter first character" bind:value={$filter.char1}>
    <option value="">Character</option>
    {#each characters as character}
      <option value={character}>{character}</option>
    {/each}
  </select>
  <select title="choose winner" bind:value={$filter.slot1_win}>
    <option value="">Winner</option>
    <option value="true">&gt;</option>
    <option value="false">&lt;</option>
  </select>
  <select title="filter second character" bind:value={$filter.char2}>
    <option value="">Character</option>
    {#each characters as character}
      <option value={character}>{character}</option>
    {/each}
  </select>
  <select title="filter second player" bind:value={$filter.name2}>
    <option value="">Player 2</option>
    {#each $meta.names as name}
      <option value={name}>{name}</option>
    {/each}
  </select>
  <br />
  <input
    title="date range start"
    type="date"
    bind:value={$filter.after_date}
    min={$meta.dates[0]}
    max={$meta.dates[1]} />
  <input
    title="date range end"
    type="date"
    bind:value={$filter.before_date}
    min={$meta.dates[0]}
    max={$meta.dates[1]} />
  <select title="filter version" bind:value={$filter.version}>
    <option value="">Version</option>
    {#each $meta.versions.reverse() as version}
      <option value={version}>{version}</option>
    {/each}
  </select>
  <select title="choose date sort" bind:value={$filter.order}>
    <option value="desc">Newest First</option>
    <option value="asc">Oldest First</option>
  </select>
  <button on:click={resetFilter}>Reset</button>
</form>
