<style>
  div {
    background: rgba(18, 18, 22, 0.7);
    color: rgb(147, 147, 147);
    padding: 0.8em 0 0.9em 0;
    text-align: center;
  }
</style>

<div>
  このアプリは「橙汁　-from orangejuice-」と「Fruitbat
  Factory」に関係がありません。
</div>
