<script>
  export let barLength = "160px";
  export let mainHeading = true;
  export let rgb = [151, 203, 255];
  export let title = "Suguri DB";
  export let margin = mainHeading ? "0" : "0 0 1em";

  const opacity = 0.6;
  const radius = "30px";
  const bg = `rgba(${rgb[0]}, ${rgb[1]}, ${rgb[2]}, ${opacity})`;
  const fg = `rgba(${rgb[0]}, ${rgb[1]}, ${rgb[2]}, 1)`;
</script>

<style>
  div {
    display: flex;
    flex-direction: column;
    font-family: "Helvetica", "Arial", "Arimo", sans-serif;
    margin-bottom: 0;
  }
  div > h1,
  div > h2 {
    font-size: inherit;
    font-weight: 400;
    line-height: inherit;
    margin: 0;
    padding-left: 20px;
    padding-top: 2px;
    text-shadow: 0 0 0.01px;
    text-transform: uppercase;
  }
</style>

<link
  href="https://fonts.googleapis.com/css?family=Arimo&display=swap"
  rel="stylesheet" />

<div style="background: {bg}; margin: {margin}">
  {#if mainHeading}
    <h1
      style="background: {fg}; border-radius: 0 {radius}
      {radius} 0; width: {barLength}">
      {title}
    </h1>
  {:else}
    <h2
      style="background: {fg}; border-radius: 0 {radius}
      {radius} 0; width: {barLength}">
      {title}
    </h2>
  {/if}
</div>
