<script>
  import Gitlab from "./icons/Gitlab.svelte";
  import Hash from "./icons/Hash.svelte";
  import MessageSquare from "./icons/MessageSquare.svelte";
  import TV from "./icons/TV.svelte";
  import Twitter from "./icons/Twitter.svelte";
  import Youtube from "./icons/Youtube.svelte";
  export let icon;
  export let height;
  export let width;
  const icons = {
    Gitlab: Gitlab,
    Hash: Hash,
    MessageSquare: MessageSquare,
    TV: TV,
    Twitter: Twitter,
    Youtube: Youtube
  };
</script>

<svelte:component this={icons[icon]} {height} {width} />
