<script>
  import { fade } from "svelte/transition";
  import { format } from "date-fns";
  import { calibrateDate, stripStart } from "./Utils.js";
  import Character from "./Character.svelte";

  export let match;
  export let spoil = false;
  let embed = false;

  function getEmbedUrl(url) {
    let id = "";
    if ((id = stripStart(url, "https://www.twitch.tv/videos/")) !== url) {
      return getTwitchEmbed(id);
    } else if ((id = stripStart(url, "https://youtu.be")) !== url) {
      return getYoutubeEmbed(id);
    }
  }

  function getTwitchEmbed(id) {
    let embedUrl = "https://player.twitch.tv/?autoplay=true&video=v" + id;
    if (embedUrl.includes("?t")) {
      embedUrl = embedUrl.replace("?t", "&t");
    }
    return embedUrl;
  }

  function getYoutubeEmbed(id) {
    const options = "?autoplay=1&modestbranding=1";
    let embedUrl = "https://www.youtube-nocookie.com/embed" + id;
    if (embedUrl.includes("?t")) {
      embedUrl = embedUrl.replace("?t", options + "&start");
    } else {
      embedUrl += options;
    }
    return embedUrl;
  }

  function numberRound(round) {
    return isNaN(round) ? round : "Round " + round;
  }
</script>

<style>
  a {
    text-decoration: none;
  }
  :global(img) {
    height: 4vw;
    max-height: 48px;
    max-width: 300px;
    vertical-align: bottom;
    width: 55%;
  }
  input {
    transform: scale(1.5);
  }
  sup {
    font-size: 70%;
    margin-right: -30px;
  }
  td:first-child {
    padding-left: calc(20vw - 200px);
  }
  tr {
    cursor: pointer;
  }
  tr.embed {
    background: none;
    cursor: default;
  }
  .embed > td {
    border: none;
  }
  :global(.spoil img.loser) {
    opacity: 0.1;
  }
  .version {
    font-size: 70%;
    margin-right: -5vw;
  }
</style>

<tr
  class:spoil
  id={match.timestamp}
  title="watch {match.p1_name} ({match.p1_char}) vs {match.p2_name} ({match.p2_char})"
  in:fade={{ duration: 200 }}
  on:click={() => (embed = !embed)}>
  <td>{match.event}</td>
  <td style="padding: 0 3vw">{numberRound(match.round)}</td>
  <td style="padding: 0 3vw">
    <a
      href={match.timestamp}
      on:click={e => {
        if (e.button == 0) e.preventDefault();
        else e.stopPropagation();
      }}>
      {match.p1_name} vs {match.p2_name}
    </a>
  </td>
  <td style="vertical-align: bottom">
    <span class="version">ver {match.version}</span>
  </td>
  <td style="text-align: left; vertical-align: top;" on>
    <sup>{format(calibrateDate(match.match_date), 'M / d / yyyy')}</sup>
  </td>
  <td style="text-align:left">
    <Character char={match.p1_char} loser={match.p2_win} />
    <Character
      char={match.p2_char}
      loser={!match.p2_win}
      style="margin-left: -3.5vw;" />
  </td>
  <td style="padding-right: 4vw; text-align: left">
    <input
      style="display: inline"
      title="reveal winner"
      type="checkbox"
      bind:checked={spoil}
      on:click|stopPropagation={() => {}} />
  </td>
</tr>
{#if embed}
  <tr class="embed">
    <td colspan="7">
      <iframe
        src={getEmbedUrl(match.timestamp)}
        style="height: 30vw; width: {30 / 0.5625}vw"
        title={match.p1_name + 'vs' + match.p2_name}
        allow="encrypted-media"
        allowfullscreen />
    </td>
  </tr>
{/if}
