<script>
  import { onMount } from "svelte";
  import { matches, matchesStatuses } from "./Stores.js";
  import { fetch } from "./Utils.js";
  import Match from "./Match.svelte";
  import gql from "nanographql";

  const query = gql`
    {
      matches {
        match_date
        p1_name
        p1_char
        p2_name
        p2_char
        p2_win
        event
        round
        timestamp
        version
      }
    }
  `;

  onMount(async () => {
    if (Array.isArray($matches) && !$matches.length) {
      const resp = await fetch(query);
      matches.set(resp.matches);
    }
  });
</script>

<style>
  :global(a) {
    color: inherit;
  }
  :global(a:hover) {
    color: white;
    text-shadow: 1px 1px 2px black, -0.7px 0 0 black, 0 0.7px 0 black,
      0.7px 0 0 black, 0 -0.7px 0 black;
  }
  table {
    border-collapse: separate;
    border-spacing: 0 10px;
    font-family: "Impact", "Anton", sans-serif;
    font-size: 2vw;
    font-style: italic;
    width: 100%;
  }
  :global(td) {
    border: solid black;
    border-width: 1.25px 0 1.25px;
    padding: 0;
    text-align: center;
    white-space: nowrap;
  }
  :global(tr) {
    background: rgba(150, 150, 150, 0.5);
  }
  :global(tr:hover) {
    background: rgba(211, 211, 211, 0.9);
  }
  @media screen and (min-width: 1200px) {
    table {
      font-size: 18pt;
    }
  }
</style>

<table>
  <tbody>
    {#if Array.isArray($matches)}
      {#each $matches as match, i (match.timestamp)}
        <Match {match} />
      {:else}
        <tr>
          <td>Retrieving...</td>
        </tr>
      {/each}
    {:else if $matches === matchesStatuses.inProgress}
      <tr>
        <td>
          This event has not been transcribed yet.
          <br />
          Check the
          <a href="https://www.twitch.tv/suguri_tv/videos">Suguri TV</a>
          and
          <a href="https://www.youtube.com/user/FruitbatFactory/videos">
            Fruitbat Factory
          </a>
          channels for footage.
        </td>
      </tr>
    {:else}
      <tr>
        <td>No matches found with that criteria.</td>
      </tr>
    {/if}
  </tbody>
</table>
