<script>
  import Filter from "./Filter.svelte";
  import Header from "./Header.svelte";
  import MatchesTable from "./MatchesTable.svelte";

  const matchHeaderColor = [156, 255, 165];
</script>

<style>
  summary {
    cursor: pointer;
    list-style: none;
    padding-top: 1em;
  }
  /* Webkit-based browsers */
  summary::-webkit-details-marker {
    display: none;
  }
</style>

<section>
  <details open>
    <summary title="toggle filter">
      <Header
        barLength="185px"
        mainHeading={false}
        rgb={matchHeaderColor}
        title="Select replay" />
    </summary>
    <Filter />
  </details>
  <MatchesTable />
</section>
