<script>
  import { views } from "./Stores.js";
</script>

<style>
  nav {
    align-items: center;
    background: rgba(211, 211, 211, 0.7);
    border: solid black;
    border-width: 1.25px 0 1.25px;
    display: flex;
    font-size: 15.5pt;
    font-weight: 600;
    justify-content: space-evenly;
    margin: 1.5rem auto;
    margin-top: 0.65em;
  }
  a {
    color: rgb(147, 147, 147);
    margin: 0.5em;
    transform: skew(-9deg, 0deg);
    text-decoration: none;
    text-shadow: 1px 1px 2px black, -0.7px 0 0 black, 0 0.7px 0 black,
      0.7px 0 0 black, 0 -0.7px 0 black;
  }
  a:hover {
    color: white;
  }
</style>

<nav>
  {#each Object.keys(views) as view}
    <a href={'#' + view}>{view[0].toUpperCase() + view.slice(1)}</a>
  {/each}
</nav>
