<script>
  import { onMount } from "svelte";
  import { upcoming } from "./Stores.js";
  import { fetch } from "./Utils.js";
  import Header from "./Header.svelte";
  import UpcomingEvent from "./UpcomingEvent.svelte";
  import gql from "nanographql";

  const eventHeaderColor = [255, 237, 151];
  const query = gql`
    {
      upcoming {
        event
        event_date
        description
        link_signup
      }
    }
  `;

  onMount(async () => {
    if (!$upcoming.length) {
      const resp = await fetch(query);
      resp.upcoming.length ? upcoming.set(resp.upcoming) : upcoming.set(null);
    }
  });
</script>

<style>
  summary {
    cursor: pointer;
    list-style: none;
    padding-top: 1em;
    padding-bottom: 10px;
  }
  /* Webkit-based browsers */
  summary::-webkit-details-marker {
    display: none;
  }
</style>

<details open>
  <summary title="toggle visibility">
    <Header
      barLength="195px"
      mainHeading={false}
      rgb={eventHeaderColor}
      title="Upcoming events" />
  </summary>
  {#if $upcoming}
    {#each $upcoming as event, name (event.event)}
      <UpcomingEvent {event} />
    {/each}
  {:else}
    <UpcomingEvent />
  {/if}
</details>
