<script>
  import { fade } from "svelte/transition";
  import Countdown from "./Countdown.svelte";
  export let event = null;
  let hovering = false;
</script>

<style>
  a {
    text-decoration: none;
  }
  div {
    align-items: center;
    background: rgba(18, 18, 22, 0.7);
    border: solid black;
    border-width: 1px 0 1px;
    color: rgb(147, 147, 147);
    display: flex;
    flex-direction: column;
    font-size: 13pt;
    font-weight: 600;
    justify-content: center;
    margin-bottom: 2em;
    padding: 0.8em 0 0.9em 0;
    text-shadow: 1px 1px 2px black, -0.7px 0 0 black, 0 0.7px 0 black,
      0.7px 0 0 black, 0 -0.7px 0 black;
    width: 100%;
  }
  div:hover {
    background: rgba(211, 211, 211, 0.7);
    color: white;
  }
  div:hover > h3 {
    color: white;
  }
  h3 {
    color: rgb(147, 147, 147);
    font-family: "Nationalyze", "Nationalyze ALP", "Orbitron", sans-serif;
    font-size: 42pt;
    font-style: italic;
    font-weight: 900;
    margin: 0;
    text-shadow: 1.5px 1.5px 1px black, 1.5px -1.5px 1px black,
      -1.5px 1.5px 1px black, -1.5px -1.5px 1px black;
  }
</style>

{#if event}
  <a href={event.link_signup ? event.link_signup : '#NoSignupsYet'}>
    <div
      in:fade={{ duration: 150 }}
      on:mouseenter={() => (hovering = true)}
      on:mouseleave={() => (hovering = false)}>
      <h3>{event.event.toUpperCase()}</h3>
      <Countdown date={Number(event.event_date)} {hovering} />
    </div>
  </a>
{:else}
  <div>
    <h3>No Scheduled Events</h3>
  </div>
{/if}
